<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Fragment footer à inclure dans d'autres pages -->
    <footer th:fragment="footer" class="site-footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>À propos</h3>
                <p>Ce projet est vraiment le fruit de beaucoup de travail de pleure<br>
                     , de nuit blanche , de leo be ah letie , et de diso filiere ngamba
                    <br>donne moi 20/20 svp en plus regarde comment c'est beau</p>
            </div>
            <div class="footer-section">
                <h3>Les informations sur moi</h3>
                <ul>
                    <li>ETU002621</li>
                    <li>038 93 393 86</li>
                    <li>P16B-137</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 - Soutenance avec mention honorable</p>
        </div>
    </footer>
</body>
</html>