<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Fragment sidebar à inclure dans d'autres pages -->
    <aside th:fragment="sidebar" class="sidebar">
        <div class="sidebar-section">
            <ul>
                <li><a th:href="@{/infoConnexion}">Connexion a une base de donnee oracle</a></li>
                <li><a th:href="@{/infoConnexionPostrges}">Connexion a une base de donnee postgresql</a></li>
                <li><a th:href="@{/salary_slip}">Apercu de migration de view</a></li>
                <li><a th:href="@{/list_salaryStructure}">Apercu de migration des donnees</a></li>
                <li><a th:href="@{/saisie_salaire}">migration complet</a></li>
                <li><a th:href="@{/modification_salaire}">Duplication de base</a></li>
                <li><a th:href="@{/home}">CSS Milay</a></li>
            </ul>
        </div>
    </aside>
</body>
</html>
